.quicklinks-1{
	h2{ // Welcome Heading
		margin-bottom: 20px;
		color: #fff;
		font-size: 27px;
	}
	ul li a{
		display: block;
		padding: 10px 25px;
		background-image: url(FED_Private_Templates_css/images/right-angle.png);
		background-repeat: no-repeat;
		background-position: 92% 50%;
		background-color: transparent;
		border: 2px solid rgba(255, 255, 255, 0.7);
		font-family: sans-serif;
		font-size: 11px;
		letter-spacing: 2px;
		text-align: left;
		text-decoration: none;
		text-transform: uppercase;
		color: #FFF;
		&:hover, &:active{
			color: #FFF;
			background-color: rgba(0,0,0,0.7);
		}
	}
}