// Survery Manager

.v35SurveyManager, .NETSrvyMain{
	#Table1{
		margin: 0 0 40px;
		> tbody > tr:first-child + tr > .tnavTabON{
			@include moduleWrapperStyles();
		}
		.modArticlesDayHeader{
			background: $link-color;
			color: #FFF;
		}
	}
	.modSurveyEditDividerHdr{
		padding: 0 0 30px;
	}
}