/********** GENERAL STYLES **********/
// Hides Open Calendar Button
section[class*="events"] td.plgHeaderBar:last-of-type{ display: none; }

// Event Button Icon
.calendar-icon{
	background-image: url(FED_Private_Templates_css/images/calendar.png);
}

//Events
[class^="events-"]{
	// Basic Column Setup, Defaults to 100% (This alleviates the day float issue)
	[id$="EventsWrapper"]{
		font-size: 0; // Removes gaps in inline-block
		// Days
		> div{ display: inline; } // Lines all days up without breaking on days wrapping to the next line
		// Individual Events
		> div > a{
			display: inline-block;
			width: 100%;
			font-size: $font-size; // Sets size back to normal
		}
	}
	// Column Layouts can easily be expanded into 4+ with this method, I added .fourCol as an example.
	// 3 Column Layout
	&.threeCol{
		[id$="EventsWrapper"]{
			// Individual Events
			> div > a{
				width: 33.333333333333%;
				padding: 15px;
				@media (max-width: 991px){
					width: 50%;
				}
				@media (max-width: 768px){
						width: 100%;
				}
			}
		}
	}
	// 4 Column Layout
	&.fourCol{
		[id$="EventsWrapper"]{
			// Individual Events
			> div > a{
				width: 25%;
				padding: 15px;
				@media (max-width: 991px){
					width: 50%;
				}
				@media (max-width: 768px){
						width: 100%;
				}
			}
		}
	}
}

// Button Group
.button-group{
	display: block;
	width: 100%;
	padding: 0 15px;
    margin-bottom: 20px;
	background: rgb(242, 242, 242);
	text-align: center;
	.button{
		display: inline-block;
		padding: 15px 20px;
		font-family: $font2;
		font-size: 11px;
		font-weight: 600;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: rgb(154, 154, 154);
		position: relative;
		&.is-checked{
			color: rgb(44, 44, 44);
			&:after{
				content: '';
				position: absolute;
				bottom: -6px;
				left: 0;
				right: 0;
				width: 0;
				height: 0;
				margin: 0 auto;
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;
				border-top: 10px solid #f2f2f2;
			}
		}
	}
}

// Slideshow Events
[class^="events-"]{
	.event-arrows{
		position:absolute;top:50%;
		-webkit-transform:translateY(-50%);
		transform:translateY(-50%);
		left:-6rem;right:-6rem;
		padding:0 1.5rem;
		a{
			border:none !important;
			text-decoration: none !important;
			color:#bbb;
			cursor:pointer;
			font-size:3rem;
			&:active,&:hover{
				color: #000;
			}
		}
		.prev-arrow{ float:left; }
		.next-arrow{ float:right; }
	}
	.event-slideshow{ 
		max-width: 1290px;
		margin: 0 auto;
		padding: 30px 60px;
		position: relative;
	}
	.element-item{
		width: 100%;
		overflow: hidden;
		.events-wrapper{
			margin: 0 -1.5rem;
			overflow: hidden;
			white-space: nowrap;
		}
		.event-wrap{
		    display: inline-block;
			vertical-align: top;
			height: 250px;
			width: 25%;
			padding: 0 1.5rem;
			white-space: normal;
			@media(max-width: 991px){
				width: 50%;
			}
			@media(max-width: 768px){
				width: 100%;
			}
		}
		.cal-info{
			display: block;
			height: 100%;
			padding: 3rem 4rem;
			border: 1px solid #EEE;
		}
	}
}

/********** TYPE 1 **********/
@import "eventType1.scss";

/********** TYPE 2 **********/        
@import "eventType2.scss";

/********** TYPE 3 **********/  
@import "eventType3.scss";

/********** TYPE 4 **********/         
@import "eventType4.scss";

/********** Type 5 **********/ 
@import "eventType5.scss";